{
  "presets": [
    "@babel/env",
    "@babel/react"
  ],
  "plugins": [
    [ "styled-jsx/babel",
    {
      "sourceMaps": true,
      "plugins": ["styled-jsx-plugin-sass"]
    }],
    "@babel/plugin-proposal-class-properties"
  ]
}